@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.data hr{
    width: 284px;
    height: 0px;
}
.part2 img {
    margin-right: 20px;
}
.picture{
    width: 96px;
    height: 96px;
    left: 468px;
    top: 2558px;
    border-radius: 16px;
    margin: 23px 34px 0 0;
}
.container {
    width: 95%;
    margin: 0 auto;
    background-color: #E5E5E5; 
    padding: 28px 28px 42px 28px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.primary {
    width: 30%;
    height: 30%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo {
    width: 225px;
    height: 225px;
    border: 3px solid #969696;
    border-radius: 145px;
    margin-bottom: 33px;
}
.name {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
}
.info {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 23px;
}
hr {
    color: #969696;
    width: 754px;
    margin: 60px 0 0 0;
}
.mail {
    width: 22px;
    margin-right: 21px;
}
.phone {
    width: 22px;
    margin-right: 21px;
}
.telegram {
    width: 28px;
    margin-right: 18px;
}
.contacts {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    margin: 30px;
}
.push {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #999696;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-top: 27px;
    color: white;
}
.information {
    width: 69%;
}
.about {
    background-color: #FFFFFF;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin-bottom: 14px;
}
.skills {
    background-color: #FFFFFF;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin-bottom: 14px;
}
.experienceWork {
    background-color: #FFFFFF;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin-bottom: 14px;
}
.education {
    background-color: #FFFFFF;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin-bottom: 14px;
}
.languages {
    background-color: #FFFFFF;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin-bottom: 14px;
}
.conteiner2 {
    background-color: #FFFFFF;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin-bottom: 14px;
}
.conteiner2 {
    padding: 6% 10%;
}
.languages {
    padding: 6% 10%;
}

.case {
    padding: 6% 10%;
}
.skills  {
    padding: 6% 10%;
}

.about {
    padding: 6% 10%;
}
.title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.list {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
}
.place {
    display: flex;
}
.image {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    background: #C4C4C4;
    border-radius: 16px;
    width: 96px;
    height: 96px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 23px 34px 0 0;
}
.details {
    width: 75%;
}
.titles {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5px;
}
.specific {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 5px;
}
.tablets {
    display: flex;
    justify-content: space-between;
}
.tablet {
    width: 31%;
    height: 118px;
    background: #E7E7E7;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    padding: 20px 15px 10px 15px;
    box-sizing: border-box;
    margin-bottom: 17px;
}
.tablet img {
    margin-right: 12px;
}
.informations {
    font-size: 15px;
}
.hobbies {
    display: flex;
    justify-content: space-between;
}
.hobby {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #233558;
    border-radius: 10px;
    height: 44px;
    width: 22%;
}
span {
    font-weight: 500;
}
@media screen and (min-width: 992px) and (max-width: 1279px){
    .data hr {
        margin-right: 500px;
    }
    hr {
        width: 808px;
    }
    .push {
        margin-right: 100px;
    }
    .container {
        display: block;
        width: 95%;
    }
    .primary {
        width: 100%;
        margin-bottom: 14px;
        display: block;
        padding: 8% 3%;
        box-sizing: border-box;
    }
    .part1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: left
    }
    .part2 {
        height: 50%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin-right: 50px;
    }
    .photo {
        width: 279px;
        height: 279px;
        margin: 0 auto; 
    }
    .data {
        width: 50%;
    }
    .info {
        text-align: left;
    }
    .name {
        text-align: left;
    }
    .information {
        width: 100%;
    }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
    .data hr{
        width: 100%;
    }
    .container {
        display: block;
        width: 95%;
    }
    .primary {
        width: 100%;
        margin-bottom: 14px;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .information {
        width: 100%;
    }
    .photo {
        width: 302px;
        height: 302px;
    }
    .name {
        font-size: 38px;
        line-height: 45px;
    }
    .info {
        font-size: 24px;
        line-height: 28px;
    }
    hr {
        width: 588px;

    }
    .push {
        width: 85%;
    }
    .list {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        line-height: 36px;
        text-align: center;
    }
    .tablets {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .tablet {
        width: 238px;
    }
    .hobbies {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .hobby {
        width: 178px;
        margin: 14px;
    }
}