@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.conteiner {
    font-family: 'Roboto', sans-serif;
    margin: 20vh auto;
    width: 336px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}

.hat {
    height: 28px;
    background-color: #FFDC40;
    border-radius: 9px 9px 0 0;
}

.title {
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
}

.down {
    margin-left: 280px;
    width: 25px;
    height: 15px;
    margin-bottom: 11px;
    background-image: url(https://sun1-19.userapi.com/8PSvsHW7HyK6XfE2hAZjLAifSeghprjxR0h6Pw/q-L6BXdrd-8.jpg);
    border: none;
    outline: none;
    background-color: transparent;
}

.down:hover {
    background-image: url(https://sun1-20.userapi.com/E2LZ8qIkDGV0Jp5LpyT3EkalIP8SJfmYnMzsVA/sH6fEAqUgkY.jpg);
}

.up {
    margin-left: 280px;
    width: 25px;
    height: 15px;
    margin-bottom: 11px;
    display: none;
    background-image: url(https://sun1-20.userapi.com/qBB6Hf-nJxSvorKCNlgquw3OGtvoTLEyAq7W0A/HZYSvbEch40.jpg);
    border: none;
    outline: none;
    background-color: transparent;
}

.up:hover {
    background-image: url(https://sun1-26.userapi.com/NVY9JRSuFx0yaADmafLSTmtarNiiZ7g-JRZ3SA/JxylUJLwdxc.jpg);
}
.plus {
    font-size: 14px;
    line-height: 16px;
    color: white;
    background-color: #9953F1;
    border-radius: 71px;
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    display: block;
    padding-top: 13px;
}

.add {
    width: 150px;
    height: 42px;
    color: white;
    font-size: 14px;
    line-height: 16px;
    background-color: #833AE0;
    border: 1px solid #833AE0;
    box-sizing: border-box;
    border-radius: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px 0 0;
    margin: 20px auto 19px;
    outline: none;
}
.add:hover {
    cursor: pointer;
}
.frame {
    clear: both;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    margin: 0 22px 0 28px;
}

.function {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 2px;
    height: 40px;
    padding: 13px;
}
.inputText {
    border: none;
    outline: none;
    height: 16px;
    width: 190px;
    font-size: 14px;
    line-height: 16px;
    background-color: transparent;
}

.frameDelete {
    position: relative;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: transparent;
    width: 20px;
    height: 20px;
    outline: none;
    background-image: url(https://sun9-75.userapi.com/PXyiDaDEWQS0-WVuhmVfxKcRu0UAdGFACHKWCw/ourqYjL22-4.jpg);
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

.frameDelete:hover {
    cursor: pointer;
    background-color: #591baa;
    border: 1px solid #591baa;
    background-image: url(https://sun1-91.userapi.com/8vi-2z3Cp3EIv5dJRmA7nyavshVdKEE5X3LSwg/YwQTcb3pEWo.jpg);
    border: none;
    outline: none;
    background-color: transparent;
}

.selected {
    transform: none;
}